/* /Text */ 

h1 {
    font-family: "Gilroy";
}

h2, h3, h4, h5, h6 {
    font-family: "Jura", sans-serif;
}


/* Nav Bar */
.navbar-logo {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 25px;
    line-height: 60px; 
}


.navbar-logo img {
    padding-left: -20px;
    width: 50px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    padding: 10px
}

.navbar {
    height: 62px;
}




/* Jumbotron */

#jumboGrid {
    display: grid;
    min-height: 500px;
    height: 125vh;
    grid-template-rows: 65% 35%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "mainDrums mainDrums"
    "smallDrums bongo"
}

.jumboGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    justify-content: baseline;
    display: flex;
}

#mainDrums {
    border-bottom: 30px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    grid-area: mainDrums;
    background-image: url("../Images_Drum101/hero_image.png");
}

#jumboCopy {
    color: whitesmoke;
    max-width: 2000px;
    position: static;
    z-index: 200;
}

#smallDrums { 
    border-top: 10px solid white;
    border-left: 20px solid white;
    border-right: 5px solid white;
    border-bottom: 40px solid white;
    grid-area: smallDrums;
    background-image: url("../Images_Drum101/kit_grid_left.png")
}

.cardCopy {
    max-width: 60%;
    position: static;
}

.cardCopy h2 {
    font-size: 4.0vh;
    font-weight: 700;
    color: whitesmoke;
}

.cardCopy h3 {
    font-size: 2.0vh;
    font-weight: 700;
    color: whitesmoke;
}

#bongo {
    border-top: 10px solid white;
    border-left: 5px solid white;
    border-right: 20px solid white;
    border-bottom: 40px solid white;
    grid-area: bongo;
    background-image: url("../Images_Drum101/djembe_grid_right.png")
}

.header {
    font-family: "Gilroy";
    font-size: 9.5vh;
    font-weight: bold;
    line-height: 1.2;
}

.subText {
    font-family: "Jura", sans-serif;
    font-size: 3.5vh;
    font-weight: 600;
    border-bottom: 0.5px solid white;
}

#chevron {
    margin-top: 90px;
    padding-left: 46%;
}




/* Topics */

#topics {
    display: grid;
    height: 370vh;
    background-color: whitesmoke;
    border-left: 4px solid white;
    border-right: 4px solid white;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "a1 a2"
    "b1 b2"
    "c1 c2"
    "d1 d2";
}

.picArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    align-items: center;
    justify-content: center;
    justify-content: baseline;
    display: flex;
}

.picArea h1 {
    color: white;
    font-size: 6vh;
    margin-top: -50vh;
    max-width: 41vh;
    padding-left: -10vh;
    position: static;
}

.copyArea {
    align-items: center;
    justify-content: center;
    display: flex;
}

#originsCopy {
    display: inline-block;
}

#a2 h2 {
    color: rgba(147, 12, 12, 1) ;
    font-weight: bold;
    font-size: 4.0vh;
}

#a2 h3 {
    color: black;
    font-size: 2.0vh;
}

#ancient {
    margin-bottom: 7vh;
    margin-right: 10vh;
}

#cymbals {
    margin-bottom: 7vh;
    margin-right: 10vh;
}

#snare {
    margin-right: 10vh;
}

#militaryCopy {
    color: white;
    display: inline-block
}

#tool {
    margin-bottom: 7vh;
    margin-right: 10vh;
}

#communication {
    margin-bottom: 7vh;
    margin-right: 10vh;
}

#morale {
    margin-right: 10vh;
}



#b2 h2{
    font-weight: bold;
    font-size: 4.0vh;
}

#b2 h3 {
    font-size: 2.0vh;
}

#c2 h2 {
    color: rgba(147, 12, 12, 1) ;
    font-weight: bold;
    font-size: 4.0vh;
}

#c2 h3 {
    color: black;
    font-size: 2.0vh;
}

#kitCopy {
    color: white;
    display: inline-block
}

#pieces {
    margin-bottom: 7vh;
    margin-right: 10vh;
}

#conception {
    margin-bottom: 7vh;
    margin-right: 10vh;
}

#formative {
    margin-right: 10vh;
}

#elementsCopy {
    color: white;
    display: inline-block
}

#groove {
    margin-bottom: 7vh;
    margin-right: 10vh;
}

#fills {
    margin-bottom: 7vh;
    margin-right: 10vh;
}

#solos {
    margin-right: 10vh;
}



#d2 h2{
    font-weight: bold;
    font-size: 4.0vh;
}

#d2 h3 {
    font-size: 2.0vh;
}


#a1 {
    grid-area: "a1";
    background-image: url("../Images_Drum101/early_origin.png") ;
}

#a2 {
    grid-area: "a2";
    background-color: whitesmoke ;
}

#b1 {
    grid-area: "b1";
    background-color: rgba(69, 87, 101, 1);
    background-image: url("../Images_Drum101/military_drummer.png");
}

#b2 {
    grid-area: "b2";
    background-color:rgba(69, 87, 101, 1);
}

#c1 {
    grid-area: "c1";
    background-image: url("../Images_Drum101/modern_drum_kits.png") ;
}

#c2 {
    grid-area: "c2";
    background-color: whitesmoke;
}

#d1 {
    grid-area: "d1";
    background-color:rgba(69, 87, 101, 1);
    background-image: url("../Images_Drum101/elements_of_playing.png");
}

#d2 {
    grid-area: "d2";
    background-color:rgba(69, 87, 101, 1);
}



/* Footer */

#footer {
    background-color: rgba(41,40,47,1);
    height: 30vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
    display: flex;
}

 #footerLogo {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 25px;
    color: white;
    justify-content: center;
} 


